# Ignorar node_modules
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar logs de npm
npm-debug.log

# Ignorar carpetas y archivos de Flutter (si tienes frontend Flutter)
build/
.android/
.ios/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
.packages

# Ignorar archivos ZIP
*.zip
backend/config/backend-firebase-adminsdk.json
